#parse("content/base/back/common/macro.vm")
<!DOCTYPE html>
<html lang="en">
<title>列表</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
#parse("content/base/back/common/head.vm")
	<style type="text/css">
		*{
		    font-size: 16px;
		}
	</style>
<body style='overflow:scroll;overflow-x:hidden'>
	<div class="container bs-docs-container" style="width:100%;">
		<div class="row">
			<form role="form" class="form-inline" action="$!{basePath}/p3/xzkx/index.do?articleList" method="post"  id="formSubmit">
				<div  class="col-md-10" style="width:100%">
					<div class="panel panel-default">
						<div class="panel-body">							
							<div  class="text-left" style="padding:0 0 10px 0;float:right">		
								#if($!{meiyou}&&$!{meiyou}=="meiyou")
								
								#else	
									<button type="button" class="btn btn-primary" id="formSubmit" onclick="doUrl('$!{basePath}/p3/xzkx/index.do?toAdd')">发文</button>
								#end
								<button type="button" class="btn btn-default" id="formReturn" onclick="doUrl('$!{basePath}/loginController.do?logout2')">退出</button>
							</div>
							<table class="table table-striped">
								<thead>
                                    <th>标题</th>
                                    <th>操作</th>
								</thead>
								<tbody>
									#if($!{pageInfos})
										#foreach($!{info} in $!{pageInfos})
											<tr>			
                                                <td>$!{info.title}</td>
												<td class="last">
							                		<a href="javascript:popMenuLink('myModal','$!{agentId}','$!{info.title}','$!{domain}/p3/xzkx/xzkxController.do?goPage&page=article&articleid=$!{info.id}','$!{info.id}')">[群发通告]</a> 
													<a href="javascript:doUrl('$!{basePath}/p3/xzkx/index.do?toEdit&id=$!{info.id}')" >编辑</a>
													<a href="javascript:delData('$!{basePath}/p3/xzkx/index.do?doDelete&id=$!{info.id}')">删除</a>
												</td>
											</tr>
										#end
									#end
								</tobody>
							</table>
							<div class="text-right">
								<!--公用翻页代码-->
								<input type="hidden" name="page" id="page" value="1"/>
								<ul class="pagination">
						        	<input type="hidden" value="1" name="pageNo" id="pageNo" />
						        	<li><span>共$!{pageInfos.totalPage}页,$!{pageInfos.totalItem}项</span></li>
						            <li>
							            #if($!{pageInfos.index}==1)
							            	<a href="#" disabled >&laquo;</a>						            
							            #else
							            	<a href="javascript:jQuery('#pageNo').val('$!{pageInfos.PreviousPage}');document.getElementById('formSubmit').submit();" >&laquo;</a>
							            #end
						            </li>
						            <li><span>$!{pageInfos.index}</span></li>
						            <li>
							            #if($!{pageInfos.index}==$!{pageInfos.totalPage})
							            	<a href="#" disabled >&laquo;</a>						            
							            #else
								            <a href = "javascript:jQuery('#pageNo').val('$!{pageInfos.nextPage}');document.getElementById('formSubmit').submit();">&raquo;</a>
							            #end
						            </li>
						        </ul>
						        <script type="text/javascript">
						    	</script>
								<!--END公用翻页代码-->
							</div>
							
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
 	<!-- 模态框（Modal） -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" 
	   aria-labelledby="myModalLabel" aria-hidden="true">
	   <div class="modal-dialog">
	      <div class="modal-content">
	         <div class="modal-header">
				<input type="hidden" value="" name="myid" id="myid" />
	            <button type="button" class="close" data-dismiss="modal" 
	               aria-hidden="true">×
	            </button>
	            <h4 class="modal-title" id="myModalLabel">
	               模态框（Modal）标题
	            </h4>
	         </div>
	         <div class="modal-body" id="myModalContent"  style="word-break:break-all">
	            按下 ESC 按钮退出。
	         </div>
	         <div class="modal-footer">
	            <button type="button" class="btn btn-default" 
	               data-dismiss="modal">关闭
	            </button>
	            <button type="button" id="sendMessage" class="btn btn-primary" data-dismiss="modal">
	              群发
	            </button>
	         </div>
	      </div><!-- /.modal-content -->
	   </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
 
	<script type="text/javascript">
		function dialogDiv(modalId,title,content,articleId){ 
		 	$('#'+modalId+'Label').html(title);
		 	$('#myModalContent').html(content);
		 	$('#myid').val(content+'@'+articleId);
			$('#'+modalId).modal({show:true,backdrop:false}); 
		}
		
		function popMenuLink(modalId,agentId,title,content,articleId){
			var url = "$!{basePath}/qywxLinksucaiController.do?doInsert";
			var name = title;
			var outerLink = content;
			var agentId = agentId;
			jQuery.ajax({
				url:url,
	       		method:"POST",
	       		dataType:"JSON",
	       		data:{name:name,outerLink:outerLink,agentId:agentId},
	       		success:function(data){
	       		   if(data.success){
	       		   		dialogDiv(modalId,title,data.obj,articleId);
	       		   }else{
	       		   		alert(data.msg);
	       		   }
	       		}
			});
		
					
		}
		 //群发，群发所有用户，群发部门，群发用户
		$("#sendMessage").click(function(){
			var param=$('#myid').val();		
			var url ="index.do?toGroupTextSend";
			jQuery.ajax({ 
	            url:url,
				type:"POST",
				dataType:"JSON",
				data:{"param":param},
				success:function(data,status){
		            if (data.obj=='sucess') {
		                alert("发送成功！");
	               }else{
		               alert("发送失败！");
	               }
				}
			
			});		
		});
    </script>
</body>
</html>
<script type="text/javascript" src="$!{basePath}/plug-in/js/jquery-ui.js"></SCRIPT>
